<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Assignment 1</title>
    <link rel="stylesheet" href="../../static/css/indexcss.css">
</head>
<body>
<div class="header">
    <div class="photo">
        <img src="../../static/images/photo.jpg" alt="photo">
    </div>
    <div class="name">
        <h1>VENKTESH B</h1>
        <h2>B.Tech IT</h2>
        <h3>SRI KRISHNA COLLEGE OF ENGINEERING AND TECHNOLOGY</h3>
        <div style="display: flex;justify-content: center;">
            <a href="https://github.com/Venki142002">
                <img src="https://img.icons8.com/material-sharp/24/000000/github.png" alt="github">
            </a>
            <a href="www.linkedin.com/in/venktesh-b-813835167">
                <img src="https://img.icons8.com/color/30/000000/linkedin.png" alt="linkedin"/>
            </a>
            <a href="https://www.codechef.com/users/sk_euit511">
                <img src="https://img.icons8.com/ios-filled/30/000000/codechef.png" alt="codechief"/>
            </a>
        </div>
    </div>
</div>
<div class="content">
    <p>Hi I am Venktesh,<br><br>
    <ul>
        <li> I am Currently pursuing Bachelors degree in Information Technology at <strong>SRI KRISHNA COLLEGE OF
            ENGINEERING AND TECHNOLOGY.</strong></li>
        <li> And I Completed My Diploma Studies in <strong>CIT-SANDWICH POLYTECHNIC COLLEGE.</strong></li>
        <li> And I Did My Schooling in <strong>SRI RANGANATHAR MATRICULATION HIGHER SECONDARY SCHOOL.</strong><br>
        </li>
        <li>I did 2 Project in My College
            <ul>
                <li><strong>Emergency Case System</strong></li>
                <li><strong>Dynamic Website Development</strong></li>
            </ul>
        </li>
    </ul>
</div>
<div class="contact">
    <form class="forms">
        <h1>Contact</h1>
        <div class="name">
            <label>
                <input type="text" placeholder="Name">
            </label>
        </div>
        <div class="mail">
            <label>
                <input type="text" placeholder="Mail Id">
            </label>
        </div>
        <div class="button">
            <button><b>SUBMIT</b></button>
        </div>
    </form>
</div>
</body>
</html>