<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VENKTESH HOME</title>
    <link rel="stylesheet" href="../../static/css/index.css">
</head>
<body>
<div id="nav-container">
<div class="logo">
    <div id="BASV">
       <h1>VENKTESH</h1>
    </div>
</div>
    <div class="navlink">
        <ul id="nav-link" >
            <li>
                <a href="/About">About</a>
            </li>
            <li>
                <a href="/login">Login</a>
            </li>
            <li>
                <a href="/Reg">Sign Up</a>
            </li>
        </ul>
    </div>
</div>
<div class="container">
<div class="typewriter">
    <h1>Welcome to Venktesh Home Page...</h1>
</div>
</div>
</body>
</html>