<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="../../static/css/login.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
</head>
<body>
<form id="forms" action="#" method="post">
    <h1>LOGIN</h1>
    <div class="user">
        <i class="fas fa-user"></i>
            <input type="text" placeholder="Mail ID" name="mail" id="mail">
        <small></small>
    </div>
    <div class="password">
        <i class="fas fa-lock"></i>
            <input type="password" placeholder="Password" name="password" id="password">
        <br>
        <small></small>
    </div>
    <div class="button">
        <button><b>LOGIN</b></button>
        <button type="button"><a href="/Reg"><b>REGISTER</b></a></button>
    </div>
</form>


</body>
</html>
