*{
    margin: 0;
    padding: 0;
}
body{
    font-family:"Times New Roman";
}
.wrapper{
    width: 1170px;
    margin: 0 auto;
}
.logo{
    width: 20%;
    float: left;
    padding: 30px 0 0;
    font-size: 25px;
    font-weight: 700;
    color: #fff;
}
nav{
    width: 75%;
    float: right;
    text-align: right;
    padding: 30px 0 0;
}
nav a{
    text-decoration: none;
    color: #fff;
    padding: 15px 20px;
}
.navigation{
    height: 60px;
}
.banner-area{
    animation-name: animate;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    height: 100vh;
}
.text-area{
    text-align: center;
    width: 75%;
    margin: 0 auto;
}
.text-area h2{
    font-size: 75px;
    color: #fff;
    margin: 10% 0 0;
}
.text-area h3{
    color: #fff;
    text-transform: uppercase;
    margin: 0 0 15px;
    font-size: 35px;
}
.text-area a{
    text-decoration: none;
    background: white;
    color: deeppink;
    padding: 15px 60px;
    font-size: 18px;
    display: inline-block;
    margin-top: 5%;
    border-radius: 50px;
}
.text-area p{
    font-size: 18px;
    color: #fff;
    width: 70%;
    margin: 0 auto;
    line-height:1.9;
}
@keyframes animate {
    0%{
        background: brown;
    }
    25%{
        background: blueviolet;
    }
    50%{
        background: blueviolet;
    }
    75%{
        background: blueviolet;
    }
    100%{
        background: blueviolet;
    }
}


/* ignore the code below */

.link-area
{
    position:fixed;
    bottom:20px;
    left:20px;
    padding:15px;
    border-radius:40px;
    background:tomato;
}
.link-area a
{
    text-decoration:none;
    color:#fff;
}
.button{
    color: darkgoldenrod;
    background-color: white;
    border-radius:12px ;
   padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
}
.new{
    padding:50px ;
    padding-left: 50px;
}

