<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>aboutPage</title>
    <link rel="stylesheet"   href="{{ url_for('static',filename='css/about.css') }}" />
</head>
<body>

<div class="about-section">
    <h2>About Us Page</h2>
    <p>Hi All I am Saravanan , I created this page for my college naliyathiran project and it is helpful to improve our Knowledge</p>
    <p></p>
</div>

<h2 style="text-align:center">Thank You</h2>
</body>
</html>


