<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Homepage</title>
    <link rel="stylesheet"   href="{{ url_for('static',filename='css/homepage.css') }}" />
</head>
<body>
<div class="banner-area">
    <div class="wrapper">
        <div class="navigation">
            <div class="logo">

            </div>
            <nav>
                <a href="http://127.0.0.1:5000/about"  ><BUTTON class="button"><strong>About</strong></BUTTON></a>
                <a href="http://127.0.0.1:5000/sign"  ><BUTTON class="button"><STRONG>Sign in</STRONG></button></a>
                <a href="http://127.0.0.1:5000/sigup"  ><button class="button"><STRONG>Sign up</STRONG></button></a>
            </nav>
        </div>

        <div class="banner-text">
            <div class="text-area">

                <h3 class="new">Welcome to My New Project</h3>

                <a href="#" >Dashboard</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>

